.home {
    width: 100%;
    height: 100%;
    position: relative;
}

.home__header {
    width: 80%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 0 1rem;
    z-index: 1;
    animation: opacity-animation 1s ease-in-out alternate;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.menu__logo {
    width: 10%;
}

.header__menu {
    width: 85%;
    height: 100%;
}

.menu__list {
    width: 100%;
    min-width: 38rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list__link {
    font-size: 1.2rem;
    font-weight: 700;
}

.menu-mobile, .close-mobile {
    display: none;
}

@media only screen and (max-width: 900px) {
    .home {
        background-image: url(../img/background-home-mobile.png);
    }
    .home__header {
        width: 90%;
    }
    .header__menu {
        position: fixed;
        right: -9999px;
        top: 0;
        background-color: #fff;
        z-index: 1;
        transition: all 1s ease-in-out;
    }
    .menu-mobile {
        display: inherit;
        width: 2.5rem;
    }
    .close-mobile {
        display: inherit;
        width: 1.3rem;
        position: absolute;
        left: 1.7rem;
        top: 1.7rem;
    }
    .home__header--fixed {
        box-sizing: border-box;
        width: 100%;
        padding: 0 1rem;
    }
    .menu__list {
        width: 100%;
        min-width: auto;
        height: 100%;
        flex-direction: column;
        background-color: #fff;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        z-index: 1;
        position: relative;
    }
}