.home {
    width: 100%;
    height: 100%;
    position: relative;
}

.home__header {
    width: 80%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__logo {
    width: 10%;
}

.header__menu {
    width: 85%;
    height: 100%;
}

.menu__list {
    width: 100%;
    min-width: 38rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list__link {
    font-size: 1.2rem;
    font-weight: 700;
}

.menu-mobile, .close-mobile {
    display: none;
}

.home__main-content {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 10%);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #102202;
}

.main-content__titles {
    min-width: 27rem;
}

.main-content__title {
    font-size: 5rem;
    letter-spacing: 2rem;
    font-weight: bold;
    margin: 1rem;
}

.main-content__subtitle {
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 2rem;
    max-width: 32rem;
}

.main-content__button {
    margin-top: 1rem;
    border-radius: 30px;
}

.main-content__illustration {
    width: 100%;
}

.home__fast-navigation {
    width: 70%;
    min-width: 53rem;   
    height: 20%;
    display: flex;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: absolute;
    top: 93%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -93%)
}

.fast-navigarion__card-link {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e0e0e0;
}

.fast-navigarion__card-link:last-child {
    border: none;
}

.card-link__icon {
    width: 20%;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 900px) {
    .home {
        background-image: url(../img/background-home-mobile.png);
    }
    .home__header {
        width: 90%;
    }
    .header__menu {
        position: fixed;
        right: -9999px;
        top: 0;
        background-color: #fff;
        z-index: 1;
        transition: all 1s ease-in-out;
    }
    .menu__list {
        width: 100%;
        min-width: auto;
        height: 100%;
        flex-direction: column;
        background-color: #fff;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        z-index: 1;
        position: relative;
    }
    .home__main-content {
        text-align: center;
        height: calc(100% - 40%);
    }
    .main-content__illustration {
        display: none;
    }
    .main-content__title {
        font-size: 3rem;
        letter-spacing: normal;
    }
    .main-content__subtitle {
        font-size: 2rem;
    }
    .main-content__button {
        font-size: 1rem;
        margin: 0 auto;
    }
    .menu-mobile {
        display: inherit;
        width: 2.5rem;
    }
    .close-mobile {
        display: inherit;
        width: 1.3rem;
        position: absolute;
        left: 1.7rem;
        top: 1.7rem;
    }
    .home__fast-navigation {
        width: 95%;
        top: 90%;
    }
    .card-link__icon {
        width: 40%;
        margin-bottom: .8rem;
    }
}