.about-us {
    box-sizing: border-box;
    width: 100%;
    height: 80vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us__content {
    width: 50%;
    min-width: 35rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    width: 90%;
    text-align: left;
    font-size: 1.1rem;
}

.about-us__image {
    width: 50%;
}

.about-us__illustration {
    width: 100%;
    min-width: 20rem;
}

.button-pattern--our {
    border-radius: 5px;
    margin-top: 1rem;
}

@media only screen and (max-width: 900px) {
    .about-us {
        display: block;
        width: 100%;
        height: auto;
        padding: .5rem;
    }
    .about-us__illustration {
        display: none;
    }
    .about-us__content {
        width: 100%;
        height: auto;
        min-width: auto;
    }
    .description {
        width: 100%;
        text-align: center;
    }
    .title-pattern {
        margin: 1rem auto;
    }
    .title-pattern::before {
        margin: 1rem auto;
        margin-top: 2rem;
    }
    .button-pattern--our {
        margin: 1rem auto;
        font-size: 1rem;
    }
}