.our-service {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: #e9f7f0;
}

.our-service__container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 1.3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 1.3rem;
}

.container__card {
    box-sizing: border-box;
    width: 25rem;
    height: 16rem;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #fff;
    transition: all .5s ease;
}

.container__card:hover {
    transform: scale(1.1);
}

.container__card:hover>.card__illustration {
    transform: rotate(12deg);
}

.card__title {
    font-size: 1.3rem;
    color: #000;
    font-weight: 600;
}

.card__illustration {
    width: 5rem;
    transition: all .5s ease-in-out;
}

.card__description {
    line-height: 1.5rem;
}

.button-pattern--service {
    margin: 0 auto;
}

@media only screen and (max-width: 900px) {
    .card__title {
        font-size: 1.3rem;
    }
    .card__description {
        font-size: 1rem;
    }
}